.artists-section__container {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
    margin-top: 0.5em;
}

.artists-section__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    @media #{$tablet} {
        display: flex;
        justify-content: flex-start;
    }
}

.artist-section__artist {
    color: $orange;
    text-decoration: none;
    padding: 0 5px;
    @media #{$tablet} {
        flex-basis: 31%;
    }
    transition: color 0.3s ease-in-out;
    &:hover {
        color: $red;
    }
}

.artists-section__row:nth-child(2n) {
    @media #{$tablet} {
        display: flex;
        justify-content: flex-end;
        text-align: right;
    }
}

.Popova {
    font-size: 2.5em;
}

.Tatlin {
    font-size: 4em;
}

.Malewicz {
    font-size: 4.5em;
}

.Lissitzky {
    font-size: 4em;
}

.Rodczenko {
    font-size: 3.5em;
}

.Larionow {
    font-size: 3em;
}
