//------ARTISTS NAV------//
.artists-nav {
    margin-top: 10em;
    border: 1px solid $orange;
    border-left: none;
    border-right: none;
    padding: 2em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media all and (min-width: 900px) {
        justify-content: space-around;
        flex-flow: row wrap;
    }
    a {
        display: block;
        color: $orange;
        font-size: 2em;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            color: $red;
        }
        &.selected {
            color: $red;
        }
    }
}

//------BIO------//
.bio-section {
    margin: 2em;
    margin-top: 1em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio-section__name {
    &::before,
    &::after {
        display: none;
    }
}

.bio-section__lifespan {
    letter-spacing: 0.15em;
    .birth,
    .death {
        color: $red;
    }
}

.bio-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$tablet} {
        flex-direction: row;
    }
}

.bio-section__biography {
    margin-top: 2em;
    text-align: justify;
}

//------WORKS------//
.section-works {
    .section__title {
        font-size: 2em;
        color: $red;
        &::before,
        &::after {
            display: none;
        }
    }
}

.section-works__works {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    figure {
        margin: 2em;
        figcaption {
            text-align: center;
            margin-top: 0.5em;
        }
    }
}
