.section {
    margin: 3em 0;
    @media #{$tablet} {
        margin-bottom: 5em;
    }
}

.section__title {
    font-size: 2em;
    letter-spacing: 0.15em;
    text-align: center;
    @media #{$tablet} {
        font-size: 3em;
    }
    &::before {
        display: none;
        @media all and (min-width: 1200px) {
            content: '';
            display: block;
            position: relative;
            background-image: url(../images/coordinate_left.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 25px;
            width: 50px;
            height: 45px;
            top: 57px;
            left: -14px;
        }
    }
    &::after {
        display: none;
        @media all and (min-width: 1200px) {
            content: '';
            display: block;
            position: relative;
            background-image: url(../images/coordinate_right.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 25px;
            width: 50px;
            height: 40px;
            bottom: 57px;
            right: -1162px;
        }
    }
}

